//Vars
$body-font: 'Lato', sans-serif;

//Util
.no-text {
	position: absolute;
	text-indent: -100%;
	overflow: hidden;
	white-space: nowrap;
}

//Globals
body {
	font: {
		family: $body-font;
		size: 16px;
		weight: 300;
	}
	
}

// Scrollbar styling 
::-webkit-scrollbar {
	height: 10px;
	width: 12px;
}
// Track
::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
	background: transparent;
}
::-webkit-scrollbar-corner,
::-webkit-resizer {
	background: #000;
}

// Handle
::-webkit-scrollbar-thumb {
	background: rgba(144, 144, 144, 1); 
	border: 0;
	width: 5px;
}
::-webkit-scrollbar-thumb:hover {
	background: #3a99d8;
}
::-webkit-scrollbar-thumb:active {
	background: #212121;
}



.module {
	position: relative;

	> .grid_container {
		height: 300px;
	}
}
.module.style1 {
	background: #fff;
	color: #343434;
}

.module.style2 {
	background: #1b2a3a;
	color: #fff;
}

.csstransforms.pointerevents .angle {
	position: absolute;
	pointer-events:none;
	width: 100%;
	height: 300px;
	bottom: -200px;
	padding-top: 170px;
	overflow: hidden;

	&.style1 {
		div {
			background: #fff;
		}
	}

	&.style2 {
		div {
			background: #1b2a3a;
		}
	}

	div {
		position: relative;
		left: 50%;
		margin-left: -2000px;
		width: 4000px;
		transform:rotate(-3deg);
		-ms-transform:rotate(-3deg);
		-webkit-transform:rotate(-3deg);
		transform-origin: top center;
		-webkit-transform-origin: top center;
		
		height: 100%;
	}

	&.decline {
		div {
			transform:rotate(3deg);
			-ms-transform:rotate(3deg);
			-webkit-transform:rotate(3deg);
		}
	}
}

button.button-style1, a.psudo-button {
	display: inline-block;
	text-decoration: none;
	cursor: pointer;
	background: #3a99d8;
	border: 0;
	color: #fff;
	font: {
		family: $body-font;
		size: 1.1em;
		weight: normal;
	}

	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;

	padding: 13px 25px;
}

.alt-text {
	color: #87c3ff;

	&.style2 {
		font-style: italic;
	}

	&.style3 {
		font-weight: 400;
	}

	&.style4 {
		color: #3a99d8;
		font-style: italic;
	}
}

.marklet {
	position: absolute;
	top: -150px;
}


//Header
#banner {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
	background: rgba(0, 0, 0, 0.3);

	transition: background-color 0.5s ease;

	&.small {
		background: rgba(0, 0, 0, 0.8);

		#logo {
			opacity: 1;
		}

		#site-nav {
			display: block;
			margin-top: 20px;
		}
	}
}

#logo {
	opacity: 0;
	position: relative;
	width: 50px;
	height: 50px;
	margin-top: 2px;
	overflow: hidden;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	border-radius: 150px;
	float: left;

	transition: opacity 0.5s ease;

	> span {
		@extend .no-text;
	}
}

//Navigation
#site-nav {
	margin-top: 20px;
	margin-bottom: 20px;
	float: left;

	li {
		float: left;
		padding-right: 50px;

		&.first {
			padding-left: 30px;
		}

		&.last {
			padding-right: 0;
		}
	}

	.selected {
		a {
			color: #7fb7f0;
		}
	}

	a {
		display: block;
		text-decoration: none;
		text-transform: uppercase;
		text-shadow: 1px 1px 0px #000;
		color: #fff;
		font: {
			size: 1em;
			weight: normal;
		}

		&:hover, &:focus {
			color: #7fb7f0;
		}
	}
}

#page {
	overflow: hidden;
}

//jumbotron
#jumbotron {
	width: 100%;
	height: 696px;
	position: fixed;
	top: 0;
	bottom: 0;
	height: 100%;

	background: url(/images/jumbotron.jpg) no-repeat;
	background-position: center center;
	background-attachment: fixed;
	color: #fff;

	.backgroundsize & {
		background-size: cover;
	}

	@media screen and (min-width: 2014px) {
		.backgroundsize & {
			background-size: 100% auto;
		}
	}

	.intro-container {
		width: 800px;
		position: relative;
		left: 66%;
		margin-left: -400px;
		text-align: center;

		.csstransforms & {
			top: 50%;
			-webkit-transform: translateY(-50%);
			transform: translateY(-50%);
		}
	}

	.compliment {
		margin-bottom: 20px;
		font: {
			size: 1.7em;
		}
		text-shadow: 1px 1px 0px #000;
	}

	h1 {
		margin-bottom: 50px;
		font: {
			size: 3.5em;
		}
		text-shadow: 1px 1px 0px #000;
	}

	.intro {
		font: {
			size: 1.3em;
		}
		line-height: 1.5;
		width: 680px;
		margin: 0 auto;
		margin-bottom: 80px;
		text-shadow: 1px 1px 0px #000;
	}

	.psudo-button {
		text-align: center;
	}
}

//statement
#statement {
	> .grid_container {
		height: 630px;
	}

	article {
		padding-top: 10px;
	}

	h1 {
		font: {
			size: 1.7em;
			weight: normal;
		}
		margin-bottom: 30px;
	}

	p {
		font: {
			size: 1.09em;
		}
		margin-bottom: 19px;
		line-height: 1.4;

		&.last {
			margin-bottom: 65px;
		}
	}
}

#phone-container {
	position: relative;
	margin-top: -166px;
	float: right;
	width: 550px;

	.phone {
		position: relative;
		width: 400px;
		height: 780px;
		background: url(/images/phone.png) no-repeat;
		margin: 0 auto;
	}

	.screen {
		position: absolute;
		width: 339px;
		top: 102px;
		left: 29px;
		overflow: hidden;

		.screen-belt {
			width: 400%;

			-webkit-transition: margin-left 300ms ease-out 0s;
			-moz-transition: margin-left 300ms ease-out 0s;
			-o-transition: margin-left 300ms ease-out 0s;
			transition: margin-left 300ms ease-out 0s;
		}

		li {
			width: 339px;
			float: left;
		}

		iframe {
			width: 100%;
			height: 580px;
		}
	}

	.controls {
		position: absolute;
		top: 260px;
		left: 0;
		right: 0;

		.prev, .next {
			background: none;
			border: 0;
			width: 48px;
			height: 48px;
			font-size: 3em;
			text-align: center;

			> i {
				display: block;
			}

			> span {
				@extend .no-text;
			}
		}

		.prev {
			float: left;
		}

		.next {
			float: right;
		}
	}
}

//Skills
#skills {
	> .grid_container {
		height: 577px;
	}

	.icons {
		padding-top: 50px;

		li {
			position: relative;

			&:nth-of-type(-n+3) {
				margin-bottom: 45px;
			}

			&:nth-of-type(3n) {
				margin-right: 0;
			}

			&:nth-of-type(3n+1) {
				margin-left: 0;
			}

			> .icon {
				width: 95px;
				height: 95px;
				background: url(/images/skills-sprite.png) no-repeat;
				margin-left: 17.5px;
				margin-top: 17.5px;
			}

			> .xp {
				width: 130px;
				height: 130px;

				position: absolute;
				top: 0;
				left: 0;

				background: url(/images/skill-ring.png) no-repeat;
			}
		}

		.javascript {
		}

		.php { 
			> .icon {
				background-position: 0 -95px;
			}
		}

		.sql { 
			> .icon {
				background-position: 0 -190px;
			}
		}

		.java {
			> .icon {
				background-position: 0 -285px;
			}
		}

		.python {
			> .icon {
				background-position: 0 -380px;
			}
		}

		.csharp {
			> .icon {
				background-position: 0 -475px;
			}
		}
	}

	h1 {
		font: {
			size: 1.7em;
		}
		margin-bottom: 30px;
	}

	p {
		font: {
			size: 1.09em;
		}
		line-height: 1.4;
		margin-bottom: 19px;

		&.last {
			margin-bottom: 65px;
		}
	}

	.hours {
		display: inline-block;
		background: #ecf0f1;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
		color: #1b2a3a;
		padding: 18px 25px;

		> .total {
			font: {
				size: 2em;
				weight: 700;
			}
		}

		> .lbl {
			margin-left: 10px;
			font: {
				size: 1.5em;
				weight: 700;
			}
		}
	}
}

//Clients
#clients {
	> .grid_container {
		height: 445px;
	}

	h1 {
		text-align: center;
		font: {
			size: 1.8em;
		}
		margin-bottom: 50px;
	}
}


#client-list {
	li {
		> p {
			@extend .no-text;
		}

		> div {
			height: 100px;
			background: url(/images/clients.png);
			background-position: 50% 0;
			background-repeat: no-repeat;

		}

		.clients-hsbc {
			background-position: 50% 0;
		}

		.clients-nationwide {
			background-position: 50% -100px;
		}

		.clients-anz {
			background-position: 50% -200px;
		}

		.clients-mantra {
			background-position: 50% -300px;
		}

		.clients-vanquis {
			background-position: 50% -400px;
		}

		.clients-bubblekickz {
			background-position: 50% -500px;
		}

		.clients-motorfeed {
			background-position: 50% -600px;
		}

		.clients-unilink {
			background-position: 50% -700px;
		}
	}
}

//Footer
#footer {
	overflow: hidden;
	
	> .grid_container {
		height: 55px;
		margin-top: 86px;
	}

	.copyright {
		font: {
			size: 0.9em;
		}
	}

	.footer-list {
		float: right;

		> li {
			float: left;
			border-right: 1px #fff solid;
			padding: 0 10px;

			&.first {
				padding-left: 0;
			}

			&.last {
				border-right: 0;
				padding-right: 0;
			}
		}
	}

	a {
		display: block;
		text-decoration: none;
		text-transform: capitalize;
		color: #fff;
		font: {
			size: 0.9em;
		}

		&:hover, &:focus {
			color: #7fb7f0;
		}
	}

	.social-list {
		margin-top: -7px;

		h1 {
			@extend .no-text;
		}

		li {
			float: left;
			padding: 0 5px;
		}

		a {
			font: {
				size: 1.5em;
			}
			> span {
				@extend .no-text;
			}
		}
	}
}