#banner {
	display: none;
}

#jumbotron {
	background-image: url(/images/mobile/jumbotron.jpg);

	.intro-container {
		width: auto;
		position: relative;
		margin: 0 auto;
		left: auto;
		text-align: center;
		padding: 0 10px;
	}

	.compliment {
		font: {
			size: 1.3em;
		}
	}

	h1 {
		font: {
			size: 2.3em;
		}
	}

	.intro {
		width: 100%;
		font: {
			size: 1em;
		}
	}
}