#banner {
	display: none;
}

#jumbotron {
	background-image: url(/images/mobile/jumbotron.jpg);

	.intro-container {
		width: auto;
		position: relative;
		margin: 0 auto;
		left: auto;
		text-align: center;
		padding: 0 10px;
	}

	.compliment {
		font: {
			size: 1.3em;
		}
	}

	h1 {
		font: {
			size: 2.3em;
		}
	}

	.intro {
		width: 100%;
		font: {
			size: 1em;
		}
	}
}

#statement {
	> .grid_container {
		height: 500px;
	}

	article {
		p.last {
			display: none;
		}
	}
}

#phone-container {
	display: none;
}

#skills {
	.icons {
		display: none;
	}
}

#client-list {
	li {
		> div {
			height: 90px;
			background-size: 90%;
		}

		.clients-hsbc {
			background-position: 50% 0;
		}

		.clients-nationwide {
			background-position: 50% -90px;
		}

		.clients-anz {
			background-position: 50% -170px;
		}

		.clients-mantra {
			background-position: 50% -250px;
		}

		.clients-vanquis {
			display: none;
		}

		.clients-bubblekickz {
			display: none;
		}

		.clients-motorfeed {
			display: none;
		}

		.clients-unilink {
			display: none;
		}
	}
}

#footer {
	> .grid_container {
		height: auto;
		margin-top: 0;
	}

	.copyright {
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-list {
		float: left;
		margin-bottom: 30px;
		> li {
			display: none;
			&.social-list {
				padding-left: 0;
				display: list-item;
				margin-bottom: 20px;

				li {
					padding: 0 20px;
				}
			}
		}
	}
}