<!doctype html>
<html lang="en">
	<head>
			<meta charset="UTF-8" />
			<title>Josh Thornton</title>

			<link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic" rel="stylesheet">
			<link rel="stylesheet" href="/css/default.css">

			<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
			<script src="/js/libs/modernizr.js"></script>
	</head>
	<body>

		<header id="banner">
			<div id="filler">
				<div class="curve left"></div>
				<div class="stretch"></div>
				<div class="curve right"></div>
			</div>
			
			<div class="container_12 clearfix">

				<h1 id="logo" class="grid_2">
					<img src="/images/logo.jpg" width="150" height="150" alt="Josh Thornton Logo" draggable="false">
					<span>Josh Thornton</span>
				</h1>

				<nav id="site-nav" class="grid_10">
					<ul class="clearfix">
						<li class="first selected">
							<a href="#">About me</a>
						</li>
						<li>
							<a href="#">Web</a>
						</li>
						<li>
							<a href="#">Skills</a>
						</li>
						<li>
							<a href="#">CV</a>
						</li>
						<li class="last">
							<a href="#">Contact me</a>
						</li>
					</ul>
				</nav>
			</div>
		</header>

		<main id="page">
			<section id="jumbotron" class="module">
				<div class="container_12 clearfix">
					<article class="grid_12">
						<p class="compliment">Ho-rah! You made it!</p>

						<h1>Welcome to <span class="alt-text">JshThornton</span>.co.uk</h1>

						<p class="intro">
							I'm a web and software engineer from Oxford with the ability 
							to create <span class="alt-text style2">beautiful</span>, <span class="alt-text style2">tasty</span>, <span class="alt-text style2">sexy</span> applications to make you go &ldquo;Wow!&rdquo;
						</p>

						<a href="#" class="psudo-button">Have a look at my work</a>
					</article>
				</div>

				<div class="angle style1"><div></div></div>
			</section>

			<section id="statement" class="module style1">
				<div class="container_12 clearfix">
					<article class="grid_4">
						<h1></h1>

						<p>
						</p>

						<p class="last">
						</p>

						<a href="#" class="psudo-button">See more of my work</a>
					</article>

					<div id="phone-container"  data-view="views/Phone">
						<div class="controls clearfix">
							<button type="button" class="prev">
								<i class="fa fa-angle-left"></i>
								<span>Previous</span>
							</button>
							<button type="button" class="next">
								<i class="fa fa-angle-right"></i>
								<span>Next</span>
							</button>
						</div>

						<div class="phone">
							<div class="screen">
								<ul class="screen-belt">
									<li>
										<iframe src="http://unilink.me/home"></iframe>
									</li>
									<li>
										<iframe src="http://mantrasolutions.co.uk/#/home"></iframe>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>

				<div class="angle style2 decline"><div></div></div>
			</section>

			<section id="skills" class="module style2" data-view="views/SkillSet">
				<div class="container_12 clearfix">
					<ul class="grid_6 icons">
						<li class="grid_2 alpha ps row1" data-xp="9">
							<div class="icon"></div>
							<div class="xp"></div>
						</li>
						<li class="grid_2 ai row1" data-xp="7">
							<div class="icon"></div>
							<div class="xp"></div>
						</li>
						<li class="grid_2 omega ae row1" data-xp="5">
							<div class="icon"></div>
							<div class="xp"></div>
						</li>

						<li class="grid_2 alpha pr row2" data-xp="7">
							<div class="icon"></div>
							<div class="xp"></div>
						</li>
						<li class="grid_2 coda row2" data-xp="4">
							<div class="icon"></div>
							<div class="xp"></div>
						</li>
						<li class="grid_2 omega c4d row2" data-xp="6">
							<div class="icon"></div>
							<div class="xp"></div>
						</li>
					</ul>

					<article class="grid_4 push_1">
						<h1></h1>

						<p>
						</p>

						<p class="last">
						</p>

						<div class="hours">
							<span class="total">96,048</span>
							<span class="lbl">hours</span>
						</div>

					</article>
				</div>

				<div class="angle style1 decline"><div></div></div>
			</section>

			<section id="clients" class="module style1">
				<div class="container_12 clearfix">
					<h1 class="grid_12"></h1>

					<ul id="client-list">
						<li class="grid_3">
							<div></div>
							<span></span>
						</li>
						<li class="grid_3"><span></span></li>
						<li class="grid_3"><span></span></li>
						<li class="grid_3"><span></span></li>

						<li class="grid_3"><span></span></li>
						<li class="grid_3"><span></span></li>
						<li class="grid_3"><span></span></li>
						<li class="grid_3"><span></span></li>
					</ul>
				</div>

				<div class="angle style2"><div></div></div>
			</section>
		</main>

		<footer id="footer" class="module style2">
			<div class="container_12 clearfix">
				<p class="grid_3 copyright">Copyright 2013 - All rights reserved</p>

				<nav class="grid_9">
					<ul class="clearfix footer-list">
						<li class="first"><a href="#">About me</a></li>
						<li><a href="#">Web development</a></li>
						<li><a href="#">CV</a></li>
						<li><a href="#">Contact me</a></li>
						<li><a href="#">Credits</a></li>
						<li class="last social-list">
							<h1>Social Links</h1>
							<ul>
								<li>
									<a href="http://www.linkedin.com/in/jshthornton" target="_blank">
										<i class="fa fa-linkedin"></i><span>LinkedIn</span>
									</a>
								</li>
								<li>
									<a href="https://twitter.com/jshthornton" target="_blank">
										<i class="fa fa-twitter"></i><span>Twitter</span>
									</a>
								</li>
								<li>
									<a href="https://www.facebook.com/jshthornton" target="_blank">
										<i class="fa fa-facebook"></i><span>Facebook</span>
									</a>
								</li>
								<li>
									<a href="https://github.com/Jshthornton" target="_blank">
										<i class="fa fa-github"></i><span>github</span>
									</a>
								</li>
								<li>
									<a href="http://stackoverflow.com/users/2803206/jshthornton" target="_blank">
										<i class="fa fa-stack-overflow"></i><span>Stack Overflow</span>
									</a>
								</li>
							</ul>
						</li>
					</ul>
				</nav>
			</div>
		</footer>
			
		<script data-main="/js/app/main" src="/js/require.js"></script>
	</body>
</html>